shared:
  node:
    ip: {{ ARTEFATOS_IP }}
    id: artifactory-one
    name: artifactory-one
  database:
    type: postgresql
    driver: org.postgresql.Driver
    password: {{ PG_PASSWORD }}
    username: {{ PG_USER }}
    url: jdbc:postgresql://postgres:5432/artifactory
