services:
  silo1:
    image: "postgres:17.4-alpine"
    container_name: silo1
    environment:
      - POSTGRES_DB=rdp
      - POSTGRES_USER={{ PG_USER }}
      - POSTGRES_PASSWORD={{ PG_PASSWORD }}
    ports:
      - 5432:5432
    volumes:
      - "{{ ROOT_DATA_DIR }}/var/data/postgres/data:/var/lib/postgresql/data"
      - /etc/localtime:/etc/localtime:ro
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "10"
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000
  
  silo2:
    image: "postgres:17.4-alpine"
    container_name: silo2
    environment:
      - POSTGRES_DB=rdp
      - POSTGRES_USER={{ PG_USER }}
      - POSTGRES_PASSWORD={{ PG_PASSWORD }}
    ports:
      - 5432:5432
    volumes:
      - "{{ ROOT_DATA_DIR }}/var/data/postgres/data:/var/lib/postgresql/data"
      - /etc/localtime:/etc/localtime:ro
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "10"
    ulimits:
      nproc: 65535
      nofile:
        soft: 32000
        hard: 40000