{%# Dicionário que mapeia os grupos do Ansible para as roles do RKE #%}
{% set node_groups = {
    'k8s-tools-controlplane': ['controlplane', 'etcd'],
    'k8s-tools-worker1': ['worker']
} %}

nodes:
{% for group_name, roles in node_groups.items() %}
{% for host in groups[group_name] %}
  - address: {{ hostvars[host]['ansible_host'] | default(host) }}
    user: {{ hostvars[host]['ansible_user'] | default('pgm_user') }}
    role:
{% for role in roles %}
      - {{ role }}
{% endfor %}
    ssh_key_path: "{{ hostvars[host]['ansible_private_key_file'] | default(ansible_ssh_private_key_file, true) | default('~/.ssh/id_rsa') }}"
{% endfor %}
{% endfor %}

services:
  etcd:
    snapshot: true
    retention: "24h"

# Exemplo de outras configurações:
#  kube-api:
#    service_node_port_range: "30000-32767"
#  ingress:
#    provider: nginx
#
# cluster_name: k8s-tools
# kubernetes_version: "" # Será definido pela variável RKE_VERSION