{# Dicionário que mapeia os grupos do Ansible para as roles do RKE #}
{% set node_groups = {
  'k8s-tools-controlplane': ['controlplane', 'etcd'],
  'k8s-tools-worker1': ['worker']
} %}

nodes:
{% for group_name, roles in node_groups.items() %}
{% for host in groups[group_name] %}
- address: {{ hostvars[host]['ansible_host'] | default(host) }}
  user: {{ hostvars[host]['ansible_user'] | default('pgm_user') }}
  role:
{% for role in roles %}
    - {{ role }}
{% endfor %}
  ssh_key_path: "/home/pgm_user/.ssh/id_rsa" 
{% endfor %}
{% endfor %}

# --- Seção de serviços ---
services:
  etcd:
    snapshot: true
    retention: "24h"

ignore_docker_version: true